firmware/main.elf
firmware/main.hex
main.hex
lolly-backups
fp-info-cache
test.dxf
.DS_Store
pcb/~lolly.kicad_pcb.lck
pcb/~q1.kicad_pcb.lck
pcb/lolly-B_Cu.dxf
pcb/lolly-B_Cu.svg
pcb/lolly-B_Mask.dxf
pcb/lolly-B_Paste.dxf
pcb/lolly-B_Silkscreen.dxf
pcb/lolly-backup-new.kicad_sch
pcb/lolly-backup.kidcad_sch
pcb/lolly-base.kicad_pcb
pcb/lolly-Edge_Cuts.dxf
pcb/lolly-Edge_Cuts.svg
pcb/lolly-F_Cu.dxf
pcb/lolly-F_Cu.svg
pcb/lolly-F_Mask.dxf
pcb/lolly-F_Paste.dxf
pcb/lolly-F_Silkscreen.dxf
pcb/lolly-manual.kicad_pcb
pcb/lolly-manual.kicad_prl
pcb/lolly-manual.kicad_pro
pcb/lolly-temp.kicad_pcb
pcb/lolly-temp.kicad_prl
pcb/lolly-temp.kicad_pro
pcb/lolly-User_Drawings.dxf
pcb/manual.kicad_prl
pcb/q1-job.gbrjob
pcb/q2-B_Cu.gbl
pcb/q2-B_Mask.gbs
pcb/q2-B_Paste.gbp
pcb/q2-B_Silkscreen.gbo
pcb/q2-Edge_Cuts.gm1
pcb/q2-F_Cu.gtl
pcb/q2-F_Mask.gts
pcb/q2-F_Paste.gtp
pcb/q2-F_Silkscreen.gto
pcb/q2-NPTH-drl_map.gbr
pcb/q2-NPTH.drl
pcb/q2-PTH-drl_map.gbr
pcb/q2-PTH.drl
pcb/q3-NPTH-drl_map.gbr
pcb/q3-NPTH.drl
pcb/q3-PTH-drl_map.gbr
pcb/q3-PTH.drl
pcb/q4-NPTH-drl_map.gbr
pcb/q4-NPTH.drl
pcb/q4-PTH-drl_map.gbr
pcb/lolly-manual-backups/lolly-manual-2024-07-03_012745.zip
pcb/lolly-manual-backups/lolly-manual-2024-07-05_121327.zip
pcb/lolly-temp-backups/lolly-temp-2024-07-01_111657.zip
pcb/lolly-temp-backups/lolly-temp-2024-07-03_012742.zip
pcb/manual-backups/manual-2024-07-03_012753.zip
pcb/plots/q1/q1-B_Cu.gbl
pcb/plots/q1/q1-B_Mask.gbs
pcb/plots/q1/q1-B_Paste.gbp
pcb/plots/q1/q1-B_Silkscreen.gbo
pcb/plots/q1/q1-Edge_Cuts.gm1
pcb/plots/q1/q1-F_Cu.gtl
pcb/plots/q1/q1-F_Mask.gts
pcb/plots/q1/q1-F_Paste.gtp
pcb/plots/q1/q1-F_Silkscreen.gto
pcb/plots/q1/q1-NPTH-drl_map.gbr
pcb/plots/q1/q1-NPTH.drl
pcb/plots/q1/q1-PTH-drl_map.gbr
pcb/plots/q1/q1-PTH.drl
pcb/plots/q1/q1.zip
pcb/plots/q2/q2-B_Cu.gbl
pcb/plots/q2/q2-B_Mask.gbs
pcb/plots/q2/q2-B_Paste.gbp
pcb/plots/q2/q2-B_Silkscreen.gbo
pcb/plots/q2/q2-Edge_Cuts.gm1
pcb/plots/q2/q2-F_Cu.gtl
pcb/plots/q2/q2-F_Mask.gts
pcb/plots/q2/q2-F_Paste.gtp
pcb/plots/q2/q2-F_Silkscreen.gto
pcb/plots/q2/q2-NPTH-drl_map.gbr
pcb/plots/q2/q2-NPTH.drl
pcb/plots/q2/q2-PTH-drl_map.gbr
pcb/plots/q2/q2-PTH.drl
pcb/plots/q2/q2.zip
pcb/plots/q3/q3-B_Cu.gbl
pcb/plots/q3/q3-B_Mask.gbs
pcb/plots/q3/q3-B_Paste.gbp
pcb/plots/q3/q3-B_Silkscreen.gbo
pcb/plots/q3/q3-Edge_Cuts.gm1
pcb/plots/q3/q3-F_Cu.gtl
pcb/plots/q3/q3-F_Mask.gts
pcb/plots/q3/q3-F_Paste.gtp
pcb/plots/q3/q3-F_Silkscreen.gto
pcb/plots/q3/q3-NPTH-drl_map.gbr
pcb/plots/q3/q3-NPTH.drl
pcb/plots/q3/q3-PTH-drl_map.gbr
pcb/plots/q3/q3-PTH.drl
pcb/plots/q3/q3.zip
pcb/plots/q4/q4-B_Cu.gbl
pcb/plots/q4/q4-B_Mask.gbs
pcb/plots/q4/q4-B_Paste.gbp
pcb/plots/q4/q4-B_Silkscreen.gbo
pcb/plots/q4/q4-Edge_Cuts.gm1
pcb/plots/q4/q4-F_Cu.gtl
pcb/plots/q4/q4-F_Mask.gts
pcb/plots/q4/q4-F_Paste.gtp
pcb/plots/q4/q4-F_Silkscreen.gto
pcb/plots/q4/q4-NPTH-drl_map.gbr
pcb/plots/q4/q4-NPTH.drl
pcb/plots/q4/q4-PTH-drl_map.gbr
pcb/plots/q4/q4-PTH.drl
pcb/plots/q4/q4.zip
pcb/q4-backups/q4-2024-07-05_174344.zip
pcb/q4-backups/q4-2024-07-09_143206.zip
q4-backups/q4-2024-07-16_204838.zip
pcb/core/*.lck
pcb/core/core-backups/**
pcb/core/*.gbr
pcb/core/*.drl
